.header_bg{
	background-color: #DB084D;
}

.copyright{
	padding:30px;
	margin-right: 50px;
}


.footer_logo{
	padding: 20px;
}
.social_icon{
	width: 300px;
}
.social_icon ul{
	margin:0;
	padding:0;
}
.social_icon ul li{
	display: inline-block;
	padding: 30px 27px 0 0;
}
.social_icon ul li a{
	display: block;
}
.social_icon ul li .icon:hover{
	background-color: #E3008C;
	border-radius:50%;
}
.service-box span{
	color: #DB084D;
}
