<!-- <section>
  <div class="quck-link">
      <div class="container">
          <div class="mail"><a href="MailTo:info@eventplanning.com"><i class="fa fa-envelope" aria-hidden="true"></i>info@eventplanning.com</a></div>
          <div class="right-link">
              <ul>
                  <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i>Become a Vendor</a></li>
                  <li><a href="#"><i class="fa fa-user-secret" aria-hidden="true"></i>Invite Friends</a></li>
                  <li class="registration"><a href="javascript:;" data-toggle="modal" data-target="#registrationModal">Registration</a></li>
                  <li><a href="/dasboards">Login</a></li>
              </ul>
          </div>
      </div>    
  </div>
</section> -->



<section class="" id="banner">
    <div class="col-md-12">
        <header class="h-100 col-md-4">
            <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav"
                [containerInside]="true">
                <mdb-navbar-brand>
                    <a class="logo navbar-brand" href="#">
                        <img src="../assets/images/logo.png">
                    </a>
                </mdb-navbar-brand>
                <links class="col-md-8">
                    <ul class="navbar-nav">
                        <li class="nav-item active waves-light" mdbWavesEffect>
                            <a class="nav-link">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item waves-light" mdbWavesEffect>
                            <a class="nav-link" href="#aboutus">About Us</a>
                        </li>
                        <!-- <li class="nav-item dropdown" dropdown>
                            <a dropdownToggle mdbWavesEffect type="button" href="/Home/Services" class="nav-link dropdown-toggle waves-light"
                                mdbWavesEffect>
                                Services<span class="caret"></span></a>
                            <!-- <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Caterers</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Mehndi</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Decor &amp; Florists</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Cakes</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Wedding Planner</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Gifts and Flowers</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Make-up and Hair</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Entertainment</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Photographers/ Videographers</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">DJ</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Wedding Cards</a>
                    <!-- 
                      
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
    
                    -->
                            <!-- </div> --> 
                        <!-- </li> --> 
                        <li class="nav-item waves-light" mdbWavesEffect>
                            <a class="nav-link" href="/Home/Services">Services</a>
                        </li>
                        <li class="nav-item waves-light" mdbWavesEffect>
                            <a class="nav-link" href="/Home/Places">Palces</a>
                        </li>
                        <li class="nav-item waves-light" mdbWavesEffect>
                            <a class="nav-link">Gallery</a>
                        </li>
                        <li class="nav-item waves-light" mdbWavesEffect>
                            <a href="#contact" class="nav-link">Contact Us</a>
                        </li>

                        <li class="nav-item waves-light" mdbWavesEffect>
                            <a href="/Login" class="nav-link">Login</a>
                        </li>
                    </ul>
                </links>
            </mdb-navbar>

        </header>
    </div>


    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <!--First slide-->
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="../assets/images/banner-img/slider-img.jpg" alt="First slide">
                <div class="mask rgba-purple-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">We Plan Events</h3>
                <p>of Any Scale & Complexity!</p>
            </div>
        </mdb-carousel-item>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="../assets/images/banner-img/slider-img2.jpg" alt="Second slide">
                <div class="mask rgba-purple-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">We Plan Events</h3>
                <p>of Any Scale & Complexity!</p>
            </div>
        </mdb-carousel-item>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="../assets/images/banner-img/slider-img3.jpg" alt="Third slide">
                <div class="mask rgba-purple-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">We Plan Events</h3>
                <p>of Any Scale & Complexity!</p>
            </div>
        </mdb-carousel-item>
        <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
</section>

<section class="divider"></section>

<!-- Service part Start-->
<section class="" id="service">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="#">
                    <div class="service-box">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <div>
                            <div class="name">Caterers</div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500 specimen
                                book.</p>
                            <span>Readmore</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="#">
                    <div class="service-box">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <div>
                            <div class="name">Decor & Florists</div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500 specimen
                                book.</p>
                            <span>Readmore</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="#">
                    <div class="service-box">
                        <i class="fa fa-heartbeat" aria-hidden="true"></i>
                        <div>
                            <div class="name">Wedding Planner</div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500 specimen
                                book.</p>
                            <span>Readmore</span>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="#">
                    <div class="service-box">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <div>
                            <div class="name">Make-up & Hair</div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500 specimen
                                book.</p>
                            <span>Readmore</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="#">
                    <div class="service-box">
                        <i class="fa fa-music" aria-hidden="true"></i>
                        <div>
                            <div class="name">DJ</div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500 specimen
                                book.</p>
                            <span>Readmore</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="#">
                    <div class="service-box">
                        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                        <div>
                            <div class="name">Cakes</div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500 specimen
                                book.</p>
                            <span>Readmore</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="#">
                    <div class="service-box">
                        <i class="fa fa-glass" aria-hidden="true"></i>
                        <div>
                            <div class="name">Entertainment</div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500 specimen
                                book.</p>
                            <span>Readmore</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="#">
                    <div class="service-box">
                        <i class="fa fa-camera-retro" aria-hidden="true"></i>
                        <div>
                            <div class="name">Photographers</div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500 specimen
                                book.</p>
                            <span>Readmore</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <a href="#">
                    <div class="service-box">
                        <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
                        <div>
                            <div class="name">Mehndi</div>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500 specimen
                                book.</p>
                            <span>Readmore</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="divider"></section>

<section class="" id="aboutus">
    <div class="">
        <div class="row">
            <div class="col">
                <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
                    <!--First slide-->
                    <mdb-carousel-item>
                        <div class="view w-100">
                            <img class="d-block w-100" src="../assets/images/about-us/about-sliderImg1.jpg" alt="First slide">
                            <div class="mask waves-light" mdbWavesEffect></div>
                        </div>
                    </mdb-carousel-item>
                    <!--/First slide-->
                    <!--Second slide-->
                    <mdb-carousel-item>
                        <div class="view w-100">
                            <img class="d-block w-100" src="../assets/images/about-us/about-sliderImg2.jpg" alt="Second slide">
                            <div class="mask waves-light" mdbWavesEffect></div>
                        </div>
                    </mdb-carousel-item>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <mdb-carousel-item>
                        <div class="view w-100">
                            <img class="d-block w-100" src="../assets/images/about-us/about-sliderImg3.jpg" alt="Third slide">
                            <div class="mask waves-light" mdbWavesEffect></div>
                        </div>
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <div class="view w-100">
                            <img class="d-block w-100" src="../assets/images/about-us/about-sliderImg4.jpg" alt="Third slide">
                            <div class="mask waves-light" mdbWavesEffect></div>
                        </div>
                    </mdb-carousel-item>
                    <!--/Third slide-->
                </mdb-carousel>
                <!--/.Carousel Wrapper-->
            </div>
            <div class="col aboutusbg">
                <div class="content">
                    <h2>Who we are ?</h2>
                    <i class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i><i
                        class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i>
                    <i class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i><i
                        class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i>
                    <p>Remaining essentially unchanged.</p>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and type setting industry has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only fiveinto electronic
                    typesetting, remaining essentially unchanged.</p>
                <div class="history-info">
                    <span>28</span><br>
                    <label>yearms of<br> experience</label>
                </div>
                <div class="history-info">
                    <span>150+</span><br>
                    <label>events <br>every year</label>
                </div>
                <div class="history-info">
                    <span>11</span><br>
                    <label>earms of experience</label>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="divider"></section>

<section class="" id="team">
    <div class="container">
        <div class="sub-title2 ">
            <h2>Meet Our Team</h2>
            <i class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-minus"
                aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i>
            <i class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-minus"
                aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged.</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="member-info">
                    <div class="img"><img src="../assets/images/team-memberImg/team-memberImg4.png" alt=""></div>
                    <div class="name">Alex Buoyega</div>
                    <div class="designation">Head of advisory services</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="member-info">
                    <div class="img"><img src="../assets/images/team-memberImg/team-memberImg5.png" alt=""></div>
                    <div class="name">Kenneth Richardson</div>
                    <div class="designation">Talented and creative leader</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="member-info">
                    <div class="img"><img src="../assets/images/team-memberImg/team-memberImg6.png" alt=""></div>
                    <div class="name">Tom Marvolo</div>
                    <div class="designation">Designer</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="member-info">
                    <div class="img"><img src="../assets/images/team-memberImg/team-memberImg7.png" alt=""></div>
                    <div class="name">Mary Applebaum</div>
                    <div class="designation">HR manager</div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="divider"></section>

<section class="slogen-section">
    <div class="container">
        <div class="slogen">Hire us and we will make sure your event rocks!</div>
    </div>
</section>

<section class="divider"></section>

<section class="" id="contact">
    <div class="container">
        <div class="contact">
            <div class="title">
                <h2>Contact Us</h2>
                <p>All the information you will need is listed below, just click on the page you want to view and
                    that's it.</p>
                <i class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-minus"
                    aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i>
                <i class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i><i class="fa fa-minus"
                    aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum nisi eget mi
                            mollis laoreet. Morbi non dignissim tellus, vitae blandit urna Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit morbi non dignissim. Nullam elementum nisi eget mi mollis
                            laoreet. Morbi non dignissim tellus, vitae blandit urna Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit morbi non dignissim.Nullam elementum nisi eget mi mollis
                            laoreet. Morbi non dignissim tellus, vitae blandit urna Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit morbi non dignissim.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-box">
                        <div class="contactIcon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <a href="telTo:4408007654321">+44 (0) 800 765 4321</a>
                        <a href="telTo:44047856977145">+44 (0) 47856977145</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-box">
                        <div class="contactIcon">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <address>No.200 Joseph Road, 74 West Main Street,Oyster Bay, 350 Fifth Avenue, 34th floor New
                            York, NY 10118-3299 USA</address>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-box">
                        <div class="contactIcon">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <span>Email - <a href="mailTo:info@eventplanning.com">info@eventplanning.com</a></span>
                        <span>Website - <a href="#">eventplanning.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-contact-page></app-contact-page>

<footer id="footer" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-4 copyright">
                Copyright &copy; - EventPlanning | All Rights Reserved
            </div>
            <div class="col-md-4 footer_logo"><a href="#"><img src="../assets/images/footer-logo.png" alt=""></a></div>
            <div class="col-md-4 social_icon">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</footer>
