

<app-navigation></app-navigation>

<main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}"  class="mx-lg-5" >
    
  <div class="mt-5">
    <div class="card-body">
        <a type="button" class="btn btn-success" [routerLink]="['/Role/Create']" title="Create"><i class="fa fa-file" aria-hidden="true"></i></a><br/>
        <div class="table-responsive">
      <h3>Role List</h3>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th >serial</th>
                        <th type=hidden>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
      
                <tbody>
                    <!--  -->
                    <tr *ngFor="let item of roleData; let i = index">
                       
                        <td>{{i+1}}</td>
                        <td type=hidden>{{item.iD}}</td>
                        <td>{{item.name}}</td>
                        <td>
                          <!-- <a type="button" class="btn btn-success" [routerLink]="['/Category/Details/',item.categoryID]" title="View-Details"><i class="fa fa-table" aria-hidden="true"></i></a>&nbsp; -->
                            <a type="button" class="btn btn-info" [routerLink]="['/Role/Edit/',item.id]" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;
                            <a type="button" class="btn btn-danger" (click)="onDelete(item)"><i class="fa fa-trash-o" aria-hidden="true" title="Delete" ></i></a>
                        </td>
                    </tr>
      
                </tbody>
            </table>
        </div>
      </div>
  </div>
</main>

<app-footer></app-footer>
