

  <app-navigation></app-navigation>

  <main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}"  class="mx-lg-5" >
      
    <div class="mt-5">
        <div class="content-wrapper">
            <div class="container">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/dashboards">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Category-Type</li>
                </ol>
        <div class="card-body">
            <a type="button" class="btn btn-success" [routerLink]="['/CategoryType/Create']" title="Create"><i class="fa fa-file" aria-hidden="true"></i></a><br/>
            <div class="table-responsive">
          <h3>Category-Type List</h3>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Serial</th>
                            <th>Category-Type ID</th>
                            <th>Category-Type Name</th>
                            <th>Category-Type Level</th>
                            <th>Sub-Category</th>
                        </tr>
                    </thead>
          
                    <tbody>
                        <!--  -->
                        <tr *ngFor="let item of categoryTypeData; let i = index" >
                           
                            <td>{{i+1}}</td>
                            <td >{{item.categoryTypeID}}</td>
                            <td>{{item.categoryTypeName}}</td>
                            <td>{{item.categoryTypelevel}}</td>
                            <td >{{item.subCategoryName}}</td>
                            <td>
                              <a type="button" class="btn btn-success" [routerLink]="['/CategoryType/Details/',item.categoryTypeID]" title="View-Details"><i class="fa fa-table" aria-hidden="true"></i></a>&nbsp;
                                <a type="button" class="btn btn-info" [routerLink]="['/CategoryType/Edit/',item.categoryTypeID]" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;
                                <a type="button" class="btn btn-danger" (click)="onDelete(item)"><i class="fa fa-trash-o" aria-hidden="true" title="Delete" ></i></a>
                            </td>
                        </tr>
          
                    </tbody>
                </table>
            </div>
          </div>
          </div>
          </div>
    </div>
  </main>
  
  <app-footer></app-footer>